<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<!--/*@thymesVar id="properties" type="org.springframework.data.domain.Page<space.meduzza.property.model.PropertyEntity>"*/-->
<!--/*@thymesVar id="page" type="java.lang.Integer"*/-->
<head>
    <title>All Properties</title>
</head>

<!-- Start content -->
<th:block layout:fragment="content">

    <section class="site-section">
        <div class="container">

            <div class="row mb-5 justify-content-center">
                <div class="col-md-7 text-center">
                    <h2 class="section-title mb-2"
                        th:text="${properties.getTotalElements()} + ' Properties found'"></h2>
                </div>
            </div>

            <div class="mb-5">
                <!--/*@thymesVar id="property" type="space.meduzza.property.model.PropertyEntity"*/-->
                <div th:each="property: ${properties.getContent()}" class="row align-items-start job-item border-bottom pb-3 mb-3 pt-3">
                    <div class="col-md-2">
                        <a href="#"><img src="/images/featured-listing-2.jpg" alt="Image"
                                         class="img-fluid"></a>
                    </div>
                    <div class="col-md-4">
                        <span class="badge badge-primary px-2 py-1 mb-3">Property</span>
                        <h2><a th:text="${property.getTitle()}" th:href="'/property/get/'+${property.getId()}"></a></h2>
                        <p class="meta">Publisher: <strong th:text="${property.creator.getEmail()}"></strong> Rooms:
                            <strong th:text="${property.getRoomCount()}"></strong></p>
                    </div>
                    <div class="col-md-3 text-left">
                        <h3 th:text="${property.getAddress()}"></h3>
                        <span class="meta" th:text="${property.getSquare()}"></span>
                    </div>
                    <div class="col-md-3 text-md-right">
                        <strong class="text-black" th:text="${property.cost+'$'}"></strong>
                    </div>
                </div>

            </div>

            <div class="row pagination-wrap" th:if="${properties.totalPages > 0}">

                <div class="col-md-6 text-center text-md-left">
                    <div class="custom-pagination ml-auto">
                        <a  th:href="@{/property/get/all(page=${page-1})}"
                           class="prev" th:if="${properties.hasPrevious()}">Previous</a>
                        <!--/*@thymesVar id="IntStream" type="java.util.stream.IntStream"*/-->
                        <div class="d-inline-block"
                             th:each="pageNumber : ${#numbers.sequence(1, properties.getTotalPages(), 1)}">
                            <a th:href="@{/property/get/all(page=${pageNumber})}"
                               th:text="${pageNumber}"
                               th:class="${pageNumber==page} ? active"></a>
                        </div>
                        <a th:href="@{/property/get/all(page=${page+1})}"
                           class="next" th:if="${properties.hasNext()}">Next</a>
                    </div>
                </div>
            </div>

        </div>
    </section>
</th:block>
<!-- End content -->

<!-- BEGIN PAGE VENDOR JS-->
<th:block layout:fragment="scripts-page-vendor"></th:block>
<!-- END PAGE VENDOR JS -->

<!-- BEGIN PAGE LEVEL JS-->
<th:block layout:fragment="scripts-page"></th:block>
<!-- END BEGIN PAGE LEVEL JS-->
</html>